@import "./main.scss";
.item {
  height: 500px;
}
.bottom-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  .top-text {
    width: 100%;
    font-size: 0.3rem;
    display: flex;
    justify-content: space-around;
  }
  .bottom-text {
    width: 100%;
    text-align: center;
    color: #d5d5d5;
    font-size: 0.2rem;
  }
}
.context {
  background-color: white;
  font-size: 0.2rem;
  text-align: center;
  .context-text {
    text-align: left;
  }
}
