body,
html {
  width: 100%;
  min-height: 100%;
  font-size: 36px;
}
.root {
  position: relative;
  width: 100%;
  min-height: 100%;
  font-size: 36rem;
}

@mixin vertical-center {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
